html {
  background-color: #f6f6f6;
  color: #484848;
  --shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
}

body {
  margin-top: 100px;
  display: flex;
  justify-content: center;
}

#root {
  display: grid;
  row-gap: 10px;
  width: 500px;
}

#version {
  font-size: x-small;
  color: #878e95;
}

#version span {
  background-color: red;
  color: white;
  border-radius: 3px;
  padding: 3px;
  font-weight: bold;
  margin: 3px;
}

.whitelist .tag {
  background-color: yellowgreen;
  font-weight: 500;
  color: white;
}

.whitelist .tag:focus-visible {
  outline-color: mediumseagreen;
}

.blacklist .tag {
  background-color: palevioletred;
  font-weight: 500;
  color: white;
}

.blacklist .tag:focus-visible {
  outline-color: firebrick;
}

.tag:focus-visible {
  background-color: #dddd;
  color: initial;
  outline-style: dashed;
  font-weight: normal;
}

h2 {
  font-size: medium;
  font-weight: 300;
  margin-block-end: 0.5em;
  margin-left: 0.5em;
}

:has(> .tag) {
  display: inline-flex;
  flex-wrap: wrap;
  padding: 10px;
  gap: 10px;
}

.tag {
  display: inline-flex;
  padding: 5px;
  border-radius: 3px;
}

#matcher input, *:has(#matcher input:focus) .tag:not(.highlight) {
  background-color: #dddd;
  color: #0005;
}

#matcher input {
  border: 0;
  margin-top: 7px;
  border-radius: 3px;
  padding: 5px;
}

#matcher input:focus {
  color: initial;
}

fieldset {
  display: grid;
  border-radius: 6px;
  border: none;
  box-shadow: var(--shadow);
  background-color: white;
}

h3 {
  font-size: small;
  font-weight: 200;
  border-bottom: 1px #d8d8d8 solid;
  padding-bottom: 3px;
  margin-block: 0;
}

#save {
  background-position: center;
  transition: background 0.8s;
}

#save:hover {
  background: #317FE8 radial-gradient(circle, transparent 1%, #317FE8 1%) center/15000%;
}

#save:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

#save {
  border: none;
  border-radius: 3px;
  padding: 7px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: bold;
  background-color: #1A73E8;
  box-shadow: var(--shadow);
}