html, body, ul {
  margin: 0;
  padding: 0;

  --shadow: rgba(60, 64, 67, .3) 0 1px 2px 0, rgba(60, 64, 67, .15) 0 2px 6px 2px;
  --accent: #0075ff;
  --font-color: #484848;

  .whitelist {
    --background-color: rgb(96, 160, 0, 0.7);
  }

  .blacklist {
    --background-color: rgb(192, 80, 0, 0.7);
  }
}

html, body {
  height: 100%;
}

html {
  font-family: Ubuntu, Arial, sans-serif;
  cursor: default;
  background-color: #ebebeb;
  color: var(--font-color);
}

body {
  display: flex;
  flex-direction: column;
}

form {
  flex-grow: 1;
  display: grid;
  grid-template-columns: 300px auto;
  height: auto;
}

h2 {
  font-size: 16px;
  font-weight: 300;
}

h3 {
  border-bottom: 1px #d8d8d8 solid;
  padding-bottom: 3px;
  margin-block-start: 0;

  font-size: 13px;
  font-weight: 200;
}

ul {
  list-style-type: none;
}

a {
  color: var(--accent);
}

#banner {
  font-size: 16px;
  padding: 15px;
  background-color: var(--accent);
  color: white;
}

#settings {
  padding-top: 20px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;

  ul li {
    display: flex;
    align-items: center;
    gap: 3px;
    padding-top: 3px;
    padding-bottom: 3px;
  }

  input[type=checkbox], input[type=checkbox] ~ label {
    cursor: pointer;
  }

  input:checked ~ label {
    color: black;
  }

  code {
    border-radius: 3px;
    background-color: #dddd;
  }

  p {
    text-align: justify;
  }
}

#tags {
  padding-top: 30px;
  min-width: 400px;
  max-width: 500px;
  margin-left: -100px;

  display: flex;
  flex-direction: column;
  justify-self: center;
  gap: 10px;
}

.elevation, .card {
  border: none;
  box-shadow: var(--shadow);
  padding: 9px;
  background-color: white;
}

.card {
  min-width: 400px;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
}

:is(#channels, #keywords) {
  .card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}

ul:is(.whitelist, .blacklist) {
  display: flex;
  flex-wrap: wrap;
  gap: 7px;
  cursor: text;

  li {
    border-radius: 3px;
    padding: 5px;

    font-weight: 500;
    font-size: 12px;
  }

  li:last-child:not(:focus-visible) {
    cursor: pointer;

    &::after {
      content: "+";
      pointer-events: none;
    }
  }

  li:focus-visible {
    background-color: #dddd;
    color: initial;
    outline-style: solid;
    font-weight: normal;
  }
}

ul.whitelist li {
  background-color: var(--background-color);
  color: white;
}

ul.blacklist li {
  background-color: var(--background-color);
  color: white;
}

#matcher input, *:has(#matcher input:focus) ul:is(.whitelist, .blacklist) li:not(.highlight) {
  background-color: #dddd;
  color: #0005;
}

#matcher input {
  border: 0;
  border-radius: 3px;
  padding: 5px;

  &:focus {
    color: initial;
  }
}

#save {
  border: none;
  border-radius: 3px;
  padding: 7px;
  cursor: pointer;
  color: white;
  background-color: var(--accent);
  box-shadow: var(--shadow);

  background-position: center;
  transition: background 0.8s;

  &:hover {
    --hover-color: #005cc8;
    background: var(--hover-color) radial-gradient(circle, transparent 1%, var(--hover-color) 1%) center/15000%;
  }

  &:active {
    background-color: #6eb9f7;
    background-size: 100%;
    transition: background 0s;
  }
}