#page-manager > ytd-watch-flexy #thumbnail:has(#mouseover-overlay img) #overlays {
  /* fixes blurred video duration on watch page preview */
  display: none;
}

/* global node reused on home and search pages */
#video-preview #thumbnail-container {
  /* hides thumbnail before video preview */
  display: none;
}

#video-preview :not(video) {
  /* fixes blur on search page when preview video is enabled */
  pointer-events: none;
}