.blur img[src^='https://i.ytimg.com/vi/'],
.blur .ytp-videowall-still-image,
:has(.blur:hover) #video-preview video,
#video-preview :hover video {
  --blur: 15px;

  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));

  transition-property: filter, -webkit-filter;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

.unblur {

  .blur #thumbnail #mouseover-overlay :hover img,
  .blur:hover .ytp-videowall-still-image,
  #video-preview [playing] video {
    filter: unset;
    -webkit-filter: unset;

    transition-property: filter, -webkit-filter;
    transition-delay: 1s;
    transition-timing-function: ease-in;
    transition-duration: 3s;
  }
}

/* fix transparency for div-based post-live screen */
.blur .ytp-videowall-still-image {
  backdrop-filter: opacity(1.0);
}

/* fix blurry edges for endscreen */
.blur a > .ytp-videowall-still-image {
  border: 8px;
}