.blur :is(#thumbnail, .thumbnail-wrapper) img,
.blur #thumbnail #mouseover-overlay img,
.ytp-endscreen-content .blur div,
:has(.blur:hover) #video-preview video,
#video-preview :hover video {
  --blur: 15px;

  filter: blur(var(--blur));
  -webkit-filter: blur(var(--blur));

  transition-property: filter, -webkit-filter;
  transition-timing-function: ease-out;
  transition-duration: 100ms;
}

.unblur {

  .blur :is(#thumbnail, .thumbnail-wrapper) img:hover,
  .blur #thumbnail #mouseover-overlay :hover img,
  .ytp-endscreen-content .blur:hover div,
  #video-preview [playing] video {
    filter: unset;
    -webkit-filter: unset;

    transition-property: filter, -webkit-filter;
    transition-delay: 1s;
    transition-timing-function: ease-in;
    transition-duration: 3s;
  }
}